
.offcanvas{
    top: 50px !important;
    transition:all .3s ease-in-out;
}
.offcanvas-header{
    justify-content :start;
    gap: 5px;
    padding: 10px 0px 0px 12px;
}
.offcanvas-body{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.offcanvas-header .btn-close{
    display: none;
}