
.my-breadcrumb{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dee2e6;
}
.css-1wuw8dw-MuiBreadcrumbs-separator{
    margin-left: 6px !important;
    margin-right: 6px !important; 
}
