
:root {
    --toastify-color-dark: #121212;
    --toastify-color-info: #0288d1;
    --toastify-color-success: #41aa46;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #d32f2f;
    --toastify-toast-min-height: 30px;
}